.section-container{
    background-color: rgb(209, 209, 209); 
    margin: 50px 0;
}

.section-header{
    background-color: rgb(115, 115, 115); 
    color: white;
    font-size: 18px;
    padding: 8px 5px;
    -webkit-box-shadow: 0px 3px 1px 1px rgba(127, 126, 126, 0.6);
    -moz-box-shadow: 0px 3px 1px 1px rgba(127, 126, 126, 0.6);
    box-shadow: 0px 3px 1px 1px rgba(127, 126, 126, 0.6);
}

.section-body{ 
    font-size: 15px;
    padding: 2px 5px;
}

