.header-bar{
    /* width: 100%; */
    /* max-width: 800px; */
    display: flex;
    flex-flow: row;
    /* flex-wrap: wrap; */
    /* background-color: rgb(217, 217, 222); */
    /* border-radius: 12px; */
    /* margin: 0 auto; */
    /* margin-top: 5px; */
    /* position: sticky;
    top:0; */
    /* z-index: 15; */
    padding: 0 5px;
}

.menu-item{
    padding: 10px 10px;
    cursor: pointer;
    z-index: 16;
    color: rgb(82, 81, 81);
    /* color: white; */
    transition: all 0.3s ease; 
}

.active-indicator{
    background-color: white;
    z-index: 15;
    width: 76px;
    height: 30px;
    position: absolute;
    /* border: 1px solid rgb(65, 65, 175); */
    border-radius: 5px;
    transition: all 0.3s ease; 
    margin: 4px 0;
    -webkit-box-shadow: 0px 0px 1px 2px rgba(173,173,173,0.6);
-moz-box-shadow: 0px 0px 1px 2px rgba(173,173,173,0.6);
box-shadow: 0px 0px 1px 2px rgba(173,173,173,0.6);
}

.sticky{
    position: fixed;
    top: 0;
    z-index: 15;
    box-shadow: 6px 11px 16px 2px #3F3F3F;
}

/* Fuzzy Data  to be removed*/
.fuzzy-data{
    margin: 30px 0; 
}