.header-bar{
    width: 100%;
    /* max-width: 800px; */
    display: flex;
    flex-flow: row;
    background-color: rgb(65, 65, 175);
    /* border-radius: 12px; */
    /* margin: 0 auto; */
    /* margin-top: 5px; */
}

.menu-item{
    color: white;
    padding: 10px 10px;
}

.sticky{
    position: fixed;
    top: 0;
    z-index: 15;
}

/* Fuzzy Data  to be removed*/
.fuzzy-data{
    margin-top: 30px; 
}