.header-bar{
    width: 100%;
    /* max-width: 800px; */
    display: flex;
    flex-flow: row;
    /* flex-wrap: wrap; */
    background-color: rgb(65, 65, 175);
    /* border-radius: 12px; */
    /* margin: 0 auto; */
    /* margin-top: 5px; */
}

.menu-item,
.menu-item-active{
    padding: 10px 10px;
    cursor: pointer;
    z-index: 16;
}

.menu-item-active{
    color: rgb(65, 65, 175);
    /* background-color:rgb(235, 235, 235); */
}
.menu-item{
    color: white;
    transition: all 0.3s ease; 
}

.active-indicator{
    background-color: white;
    z-index: 15;
    width: 76px;
    height: 38px;
    position: absolute;
    border: 1px solid rgb(65, 65, 175);
    border-radius: 3px;
    transition: all 0.3s ease; 
}

.sticky{
    position: fixed;
    top: 0;
    z-index: 15;
    box-shadow: 6px 11px 16px 2px #3F3F3F;
}

/* Fuzzy Data  to be removed*/
.fuzzy-data{
    margin: 30px 0; 
}